<div class="firstHeader d-flex justify-content-center">
    <div class="leftSide">
        <img src="./assets/img/2.jpg" class="r-images rounded-circle img-fluid">
    </div>
    <div class="rightSide col-7 p-5">
        <h1>This Second Heading <span style="color:gray"> Is Pretty Cool Too.</span></h1>
        <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<div class="line d-flex justify-content-center">
    <hr width="80%" color="gray" class="m-5"/>
</div>